.idea/*
__pycache__/
src/.env
store.txt
.DS_Store
files/*
log/*
src/log/*
doc/tex/*.log
doc/tex/*.aux
doc/tex/*.bcf
doc/tex/*.lof
doc/tex/*.lol
doc/tex/*.lot
doc/tex/*.xml
doc/tex/*.gz
doc/tex/*.toc
doc/tex/*.pdf
doc/tex/*.bbl
doc/tex/*.blg
doc/tex/*.out
*.synctex(busy)
*.bak*
*.swp
*.lck
